services:
  cofoundnet:
    container_name: CoFoundNet
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NODE_ENV=production
      - MONGODB_URI=${MONGODB_URI}
    restart: always
    ports:
      - "3000:3000"
